*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 3.5rem;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: plum;
    text-align: center;
}
.container{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(112, 58, 108); 
    font-size: 8vmin;
    color: blue;
    background-color: white;
}
#reset{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgb(105, 50, 50);
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgb(54, 117, 54);
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: white;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}